@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
}

:root {
    --blue: #737CCF;
    --white: #fff;
    --light-white: #aaa;
    --black: #3d3d3d;
    --light-bg: #4b4b4b;
    --green:#00E77F;
    
}
::selection {
    color: var(--blue);
    /* background: var(--light-white); */
  }

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding: 10rem;

}

::-webkit-scrollbar {
    height: .2rem;
    width: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: cornflowerblue;
    border-radius: 5rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

body {
    background-color: var(--black);
}